<%= form_for(@maintenance_request, html: {multipart: true}) do |f|%>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group">
    <%= f.text_area :request_message, placeholder: "Please proivde details of service requested", size: "10x5", class: "form-control" %>
    <%= f.hidden_field :tenant_id, :value => current_tenant.id%>
    <%= f.hidden_field :maintenance_thread_id, :value => @maintenance_thread.id%>
  
    <%= f.submit "Submit", class: "btn btn-default" %>
  </div>

<% end %>

