<div class = "row">
  <h3>Single Family Property</h3>
</div>
  <div class = "row">
    <%= form_for @property, html: { multipart: true } do |f| %>

      <%= render "property_form_fields", f: f %>
        <%= f.hidden_field :full_time_doorman, :value => nil%>
        <%= f.hidden_field :concierge, :value => nil%>
        <%= f.hidden_field :live_in_super, :value => nil%>
        <%= f.hidden_field :elevator_building, :value => nil%>
        <%= f.hidden_field :fitness_center, :value => nil%>
        <%= f.hidden_field :common_area, :value => nil%>
        <%= f.hidden_field :courtyard_building, :value => nil%>
        <%= f.hidden_field :storage_available, :value => nil%>
        <%= f.hidden_field :bikeroom_in_building, :value => nil%>
        <%= f.hidden_field :roof_deck_building, :value => nil%>  
        <%= f.hidden_field :terrace_building, :value => nil%>  
        <%= f.hidden_field :unit_count_building, :value => 1%> 
        <%= f.hidden_field :building_class, :value => "NA - SF"%> 
        <%= f.hidden_field :manager_id, :value => current_manager.id%>
        
          <%= f.fields_for :photos do |photo| %>
            <p>Add photos:</p>
            <div class="field">
              <%= photo.file_field :photo_file_name, accept: 'image/jpeg,image/gif,image/png'%>
            </div>
              <%= photo.hidden_field :property_id, :value => @property.id%>
          <% end %>         
              
        
        <%= f.submit "Update property", class: 'btn btn-default' %>
    <% end %>
  </div>
