<% provide(:title, "Invite Tenant") %>

<div class = "row">
  <div class = "col-md-6">
    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
      <%= devise_error_messages! %>
    
    <% resource.class.invite_key_fields.each do |field| -%>
      <p><%= f.label field, 'Submit tenant email'%><br />
      <%= f.text_field field, class: 'form-control' %></p>
    <% end -%>
    
    <%= f.collection_select(:property_id, Property.where(:manager_id => current_manager.id), :id, :property_name) %>
    
      <p><%= f.submit t("devise.invitations.new.submit_button"), class: 'btn btn-default' %></p>
    <% end %>
  </div>
</div>



