<%= form_for(@maintenance_thread, html: {multipart: true}) do |f|%>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group">
    <%= f.text_field :maintenance_thread_title, placeholder: "Maintenance request title", class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.fields_for :maintenance_requests do |rqst| %>
      <%= rqst.text_area :request_message, placeholder: "Please proivde details of service requested", size: "60x12", class: "form-control" %>
      <%= rqst.hidden_field :tenant_id, :value => current_tenant.id%>
    <% end %>
  </div>

  
  <%= f.submit "Submit", class: "btn btn-primary" %>

<% end %>