<h1>MaintenanceThreads#show</h1>
<p>Find me in app/views/maintenance_threads/show.html.erb</p>

<%= link_to "View all maintenance requests", maintenance_threads_path %><br>
<%= link_to "Create new maintenance request", new_maintenance_thread_path %>



<div class = "row">
  <div class="col-md-6">
    <div class="panel panel-title">
      <h3><%= "#{@maintenance_thread.maintenance_thread_title} submitted #{@maintenance_thread.created_at.strftime("%B %e, %Y at %I:%M %p")}" %></h3>
    </div>  
    <%= render 'maintenance_requests/maintenance_request_form' %>
        <% @maintenance_requests.where(:maintenance_thread_id => @maintenance_thread.id).each do |rqst|%>
          <div class="panel-title">
            <%= @tenant.email %>
          </div>
            <div class="panel panel-primary">
              <%= rqst.created_at.strftime("%B %e, %Y at %I:%M %p") %>
            </div>
              <div class="panel-body">
                <%= rqst.request_message %>
              </div>  
  
        <% end %>
  </div>
</div>

  