<h1>MaintenanceThreads#show</h1>
<p>Find me in app/views/maintenance_threads/show.html.erb</p>

<%= link_to "View all maintenance requests", maintenance_threads_path %><br>
<%= link_to "Create new maintenance request", new_maintenance_thread_path %>



<div class = "row">
  <div class="col-md-5">
    <h3><%= "#{@maintenance_thread.maintenance_thread_title}" %></h3> 
        <h5><%= "submitted #{@maintenance_thread.created_at.strftime("%B %e, %Y at %I:%M %p")}" %></h5>
        <%= render 'maintenance_requests/maintenance_request_form' %>
      
      <div class="panel-default">  
        <% @maintenance_requests.where(:maintenance_thread_id => @maintenance_thread.id).each do |rqst|%>
          <div class="panel-heading panel-heading-custom">
            <h3 class="panel-title"><%="#{@tenant.email}"%></h3>
          </div>
          <div class="panel-body panel-body-custom">      
            <p><i><%= rqst.created_at.strftime("%B %e, %Y at %I:%M %p") %></i></p>
            <p><%= rqst.request_message %></p>
          </div>
        <% end %>
      </div>
  </div>  
</div>
