<h1>MaintenanceThreads#show</h1>
<p>Find me in app/views/maintenance_threads/show.html.erb</p>

<%= link_to "View all maintenance requests", maintenance_threads_path %><br>
<%= link_to "Create new maintenance request", new_maintenance_thread_path %>



<div class = "row">
  <div class="col-md-5">
    <h3><%= "#{@maintenance_thread.maintenance_thread_title}" %></h3> 
        <h5><%= "submitted #{@maintenance_thread.created_at.strftime("%B %e, %Y at %I:%M %p")}" %></h5>
        <%= render 'maintenance_requests/maintenance_request_form' %>
      
      <div class="panel-default">  
        <% @maintenance_requests.each do |rqst|%>
            <% if rqst.tenant_id == nil %> 
              <div class="panel-heading panel-heading-manager">
                <h3 class="panel-title">
                  <%="#{rqst.manager.first_name} #{rqst.manager.last_name}"%>
            <% elsif rqst.manager_id== nil %>
              <div class="panel-heading panel-heading-tenant">
                <h3 class="panel-title">
                  <%="#{rqst.tenant.first_name} #{rqst.tenant.last_name}"%>
              <% end %>
              </h3>
          </div>
          <div class="panel-body panel-body-custom">      
            <p><i><%= rqst.created_at.strftime("%B %e, %Y at %I:%M %p") %></i></p>
            <p><%= rqst.request_message %></p>
          </div>
        <% end %>
      </div>
  </div>  
</div>
